<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SRHM</display-name>
  <servlet>
    <description>
  	</description>
    <display-name>BoxList</display-name>
    <servlet-name>BoxList</servlet-name>
    <servlet-class>cl.ufro.srhm.cliente.servlet.BoxList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoxList</servlet-name>
    <url-pattern>/BoxList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoxOcupacion</display-name>
    <servlet-name>BoxOcupacion</servlet-name>
    <servlet-class>cl.ufro.srhm.cliente.servlet.BoxOcupacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoxOcupacion</servlet-name>
    <url-pattern>/BoxOcupacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicoList</display-name>
    <servlet-name>MedicoList</servlet-name>
    <servlet-class>cl.ufro.srhm.cliente.servlet.MedicoList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicoList</servlet-name>
    <url-pattern>/MedicoList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EspecialidadList</display-name>
    <servlet-name>EspecialidadList</servlet-name>
    <servlet-class>cl.ufro.srhm.cliente.servlet.EspecialidadList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EspecialidadList</servlet-name>
    <url-pattern>/EspecialidadList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicoOcupacion</display-name>
    <servlet-name>MedicoOcupacion</servlet-name>
    <servlet-class>cl.ufro.srhm.cliente.servlet.MedicoOcupacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicoOcupacion</servlet-name>
    <url-pattern>/MedicoOcupacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuariosReporte</display-name>
    <servlet-name>UsuariosReporte</servlet-name>
    <servlet-class>cl.ufro.srhm.cliente.servlet.UsuariosReporte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuariosReporte</servlet-name>
    <url-pattern>/UsuariosReporte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicosReporte</display-name>
    <servlet-name>MedicosReporte</servlet-name>
    <servlet-class>cl.ufro.srhm.cliente.servlet.MedicosReporte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicosReporte</servlet-name>
    <url-pattern>/MedicosReporte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HoraMedicaList</display-name>
    <servlet-name>HoraMedicaList</servlet-name>
    <servlet-class>cl.ufro.srhm.cliente.servlet.HoraMedicaList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HoraMedicaList</servlet-name>
    <url-pattern>/HoraMedicaList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PacienteList</display-name>
    <servlet-name>PacienteList</servlet-name>
    <servlet-class>cl.ufro.srhm.cliente.servlet.PacienteList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PacienteList</servlet-name>
    <url-pattern>/PacienteList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HoraMedicaReservar</display-name>
    <servlet-name>HoraMedicaReservar</servlet-name>
    <servlet-class>cl.ufro.srhm.cliente.servlet.HoraMedicaReservar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HoraMedicaReservar</servlet-name>
    <url-pattern>/HoraMedicaReservar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicoDisponibilidad</display-name>
    <servlet-name>MedicoDisponibilidad</servlet-name>
    <servlet-class>cl.ufro.srhm.cliente.servlet.MedicoDisponibilidad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicoDisponibilidad</servlet-name>
    <url-pattern>/MedicoDisponibilidad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicoReservarControl</display-name>
    <servlet-name>MedicoReservarControl</servlet-name>
    <servlet-class>cl.ufro.srhm.cliente.servlet.MedicoReservarControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicoReservarControl</servlet-name>
    <url-pattern>/MedicoReservarControl</url-pattern>
  </servlet-mapping>
</web-app>