.margen {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.progress {
	height: 30px;
}

div.progress > div {
	vertical-align: middle;
	line-height: 30px; 
}

#resultado {
	margin-top: 30px;
}

button#ver_ocupacion {
	margin-top: 10px;
}